@model Template
@{
    var templateInfo = ViewData["templateInfo"] as EmailTemplateUI.Models.Template;
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
@*CKEDITOR 4*@
<script src="~/ckeditor/ckeditor.js"></script>
<script src="~/ckeditor/config.js"></script>
<script src="//cdn.ckeditor.com/4.20.0/standard/ckeditor.js"></script>
@*SAVE BUTTON*@
<link href="~/css/savebutton.css" rel="stylesheet" type="text/css" />
<br />
<br />
<br />
<body>
    @*TODO : ADD VALIDATIONS*@
    <div class="container">
        <div class="row">
            <div class="col-11">
                <textarea name="EmailHtml" id="myEditor">@templateInfo?.EmailHtml</textarea>
            </div>
            <div class="col-1">
                <div>
                    <form>
                        <br />
                        <select data-val="true" data-val-required="The Number field is required." asp-for="Id"
                                id="mySelect" asp-items="Html.GetEnumSelectList<TemplateEnum>()">
                        </select>
                    </form>
                    <br /><br /><br /><br />

                    <textarea rows="6" cols="15">[Subject],  [Name], [Template Name], [Date], [To], [From]
                    </textarea>

                    <br /><br /><br />

                    <button class="buttonSave" style="vertical-align:middle" id="btnSet"><span>Save</span></button>

                    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                    @*TODO : SCROLLS DOWN SLOWLY AND ALSO SCROLLS UP BUTTON*@
                    <button class="buttonSave" style="width:150px; height:40px; color:#FFFFFF; background-color:green"
                            onClick="document.getElementById('middle').scrollIntoView();">
                        Preview &nbsp;<i class="arrowDown"></i>
                    </button>
                </div>
            </div>
        </div>
        <br /><br /><br /><br /><br />
        <div id="middle">
            <h1>Email Preview :</h1>
            <textarea id="myPreviewEditor" name="PreviewTemplate" readonly>@templateInfo?.PreviewTemplate</textarea>
        </div>
    </div>
    <script>
        $(window).on('load', function () {
            CKEDITOR.replace('myEditor', { height: 600 });
            CKEDITOR.replace('myPreviewEditor', { height: 1000 });
        });
        $('#btnSet').click(function ajaxSetTemplate() {
            var select = document.getElementById('mySelect');
            var mySelectedId = select.options[select.selectedIndex].value;
            $.ajax({
                type: "POST",
                url: "/Template/Save",
                data: { "newHtml.EmailHtml": CKEDITOR.instances.myEditor.getData(), "id": mySelectedId },
                dataType: 'json',
                success: function (res) {
                    CKEDITOR.instances.myPreviewEditor.setData($('#myPreviewEditor').val(res.previewTemplate));
                    GetTemplates();
                },
                error: function (req, status, error) {
                    alert("Errors found on Ajax : " + req + status + error);
                }
            });
        });

        $('select').on('change', function () {
            GetTemplates();
        });
        function GetTemplates() {
            var select = document.getElementById('mySelect');
            var mySelectedId = select.options[select.selectedIndex].value;
            $.ajax({
                type: "POST",
                url: "/Template/Get",
                data: { "id": mySelectedId },
                dataType: 'json',
                success: function (res, status, xhr) {
                    CKEDITOR.instances.myEditor.setData($('#myEditor').val(res.emailHtml));
                    CKEDITOR.instances.myPreviewEditor.setData($('#myPreviewEditor').val(res.previewTemplate));
                },
                error: function (req, status, error) {
                    alert("Errors found on Ajax : " + req + status + error);
                }
            });
        };
    </script>
</body>